.dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: visibility 0.25s, opacity 0.25s;
}

.dialog.dialog--closed {
    opacity: 0;
    visibility: hidden;
}

.dialog.dialog--opened {
    opacity: 1;
    visibility: visible;
}

.dialog__window {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #444444;
    max-width: 450px;
    transition: transform 0.25s, opacity 0.25s;
    transform-origin: center;
}

.dialog.dialog--closed .dialog__window {
    opacity: 0;
    transform: scale(0);
}

.dialog.dialog--opened .dialog__window {
    opacity: 1;
    transform: scale(1);
}

.dialog__header {
    padding: 10px 5px;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

.dialog__content {
    padding: 20px 10px;
    text-align: left;
}

.dialog__footer {
    padding: 10px;
    border-top: 1px solid #CCC;
    text-align: right;
}

.dialog__btn {
    background-color: #FFFFFF;
    border: 1px solid #444;
    color: #444;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-left: 5px;

    transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

.dialog__btn:hover {
    color: #FFF;
    background-color: #444;
}

.dialog__btn.dialog__btn--ok {
    border-color: #007700;
    color: #007700;
}

.dialog__btn.dialog__btn--ok:hover {
    background-color: #007700;
    color: #FFF;
}

.dialog__btn.dialog__btn--cancel {
    border-color: #CC0000;
    color: #CC0000;
}

.dialog__btn.dialog__btn--cancel:hover {
    background-color: #CC0000;
    color: #FFF;
}